/* CSS Variables */
:root {
    --black1-color: #010101;
    --whiite-color: #ffffff;
    --black-color: #151515;
    --fet-background-color: #f8f1e5;
    --ft-background-color1: #ede734;
    --red-color: #e32c25;
    --text-color: #333333;
}
/*----------------------------------------------*/

* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase; /* Chữ thường */
    transition: all .2s linear; /* Hiệu ứng đều đặn */
}
/*----------------------------------------------*/

html {
    font-size: 62.5%;
    scroll-padding-top: 6rem; /* Khoảng trống từ vùng trên cùng đến vùng hiển thị khi cuộn */
    scroll-behavior: smooth; /* Hiệu ứng chuyển động cuộn */
}
/*----------------------------------------------*/
.main {
    display: flex;
    flex-direction: column;
}
/* Header */
.header {
    position: fixed; /* Cố định */
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Chồng lên trên */
    background: var(--whiite-color);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: 1px;
}
    /* Tên Shop */
    .name {
    font-size: 3rem;
    margin-left: -40px;
    color: var(--black1-color);
    font-weight: 600;
    letter-spacing: 0.6px;
    }

    /* Thanh Bar */
    .header__navbar-list {
    letter-spacing: 0.6px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    list-style: none;
    display: flex;
    margin-left: 2rem;
    width: auto;
    height: 35px;
    align-items: center;
    }

        .header__navbar-item a{
    font-size: 1.5rem;
    color: var(--black1-color);;
    margin: 0 2rem;
        }

        .header__navbar-item a:hover{
    color: var(--red-color);
        }

    /* Navbar Icon */
    .header__icons-list {
        font-weight: 700;
        list-style: none;
        display: flex;
        margin-right: -6rem;
        align-items: center;
    }

        .header__icons a {
            font-size: 2rem;
            color: var(--black1-color);
            margin-left: 1.5rem;
        }

        .header__icons a:hover {
            color: var(--red-color);
        }

    .header__icons-item{
        letter-spacing: 0.6px;
        width: auto;
        height: 35px;
        display: flex;
        justify-content: space-around;
        margin-right: 1rem;
        align-items: center;
        color: var(--black1-color);
    }

        .icons-item {
            padding: 0%;
            margin-right: 10px;
            justify-items: center;
            align-items: center;
        }
    span {
        font-size: 13px;
    }
/*----------------------------------------------*/

/* Content */
.noidung {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 8rem;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.chinh-sach {
    text-align: center;
    border: 1px solid red;
    margin: 2px;
}

.chinh-sach ul {
    list-style: none;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.nd__chinh-sach {
    margin: 2px;
    border: 1px solid red;
}


   
/*----------------------------------------------*/
/* Footer */
.container__footer {
    margin-top: -2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

    .footer {
        padding-top: 10px;
        bottom: 0;
        left: 0;
        width: 100%;
    }

        .newletter {
            display: flex;
            width: 100%;
            position: relative;
            top: 50px;
            margin: auto;
            background-color: #303035;
            justify-content: space-around;
            align-items: center;
            padding: 2rem 1.5rem;
            border-radius: 10px;
        }

            .nl-left h1 {
                color: white;
                text-transform: uppercase;
                font-size: 1.5rem;
            }

            .nl-left h2 {
                color: white;
                text-transform: uppercase;
                font-size: 1rem;
                opacity: 0.5;
                letter-spacing: 1px;
            }

            .nl-right {
                width: 500px;
            }

            .nl-right-input {
                background-color: #ffffff;
                padding: 5px;
                border-radius: 20px;
                display: flex;
                justify-content: space-between;
              }
              .nl-right-input input {
                border: none;
                outline: none;
                background: transparent;
                width: 80%;
                padding-left: 10px;
                font-weight: 600;
              }
              .nl-right-input button {
                background-color: #201e1e;
                padding: 9px 15px;
                border-radius: 15px;
                color: #ffffff;
                cursor: pointer;
              }
              .nl-right-input button:hover {
                background-color: #3a3939;
                position: relative;
              }

              .footer-section {
                width: 100%;
                display: flex;
                color: white;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 100px 40px 40px;
                background-color: rgb(32, 30, 30);
            }
            
            .footer-section h2 {
                font-size: 20px;
                margin-bottom: 1rem;
                position: relative;
            }
            
            .footer-section h2::after {
                content: '';
                width: 4rem;
                height: .2rem;
                background: #e65b00;
                position: absolute;
                top: 2.5rem;
                left: 0;
            }

            .footer-section .footer-item:first-child h2::after {
                content: '';
                width: 5rem;
                height: .2rem;
                background: #e65b00;
                position: absolute;
                top: 2.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
            
            .footer-section p {
                font-size: 15px;
                transition: all .2s linear;
                margin-bottom: .6em;
            }
            
            a {
                color: white;
                text-decoration: none;
                cursor: pointer;
            }
            
            .footer-section p:hover {
                transition: all .2s linear;
                transform: translateX(4px);
            }
            
            .footer-section a:hover {
                color: #f46d13;
            }
            
            .footer-item {
                margin: 1rem;
            }
            
            .footer-item ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
            }
            
            .footer-item li {
                margin-right: 1rem;
            }
            
            .social ul li {
                font-size: 2rem;
                cursor: pointer;
                transition: all .2s linear;
            }
            
            .social ul li:hover {
                color: #e65b00;
                transform: scale(1.1);
                transition: all .2s linear;
            }
            
            @media screen and (max-width: 320px) {
                .footer-section {
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-left: 2rem;
                }
            }
/*----------------------------------------------*/
