.loginform {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(https://img.freepik.com/free-photo/top-view-sneakers-white-background-fitness-wear-equipment-sport-fashion-sport-accessories-sport-equipment-healthy-concept-copy-space-concept-healthy-lifestyle-sport-diet-sport-equipment_1391-724.jpg?w=900&t=st=1716264739~exp=1716265339~hmac=73d6072d496740e60b5800f495217ac548f52e6e5400155bb19f75c381ad22b8);
    background-size: cover;
    background-position: center;
}

.loginform .left img {
    width: 700px; /* Có thể cần điều chỉnh tùy kích thước thực tê của hình ảnh và thiết kế mong muốn */
}

.loginform .right {
    position: relative;
    top: -50px;
    left: -60px; /* Điều chỉnh vị trí theo mong muốn của bạn */
    padding: 50px 80px;
    background: white; /* Thêm nền trắng cho khả năng đọc cao hơn (Thay đổi tùy màu sắc của hình phông) */
    border-radius: 8px; /* Thêm border radius cho viền mượt mà */
}

.loginform .right h1 {
    font-family: 'Arial, sans-serif'; /* Bạn cần thay thế Arial bằng font-family mà bạn muốn sử dụng */
    font-size: 45px;
    margin-bottom: 40px;
}

.loginform .right p {
    margin-bottom: 5px;
}

.loginform .right .user,
.loginform .right .password {
    border: 2px solid black;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center; /* Căn chỉnh vertical cho icon và input */
    padding-left: 15px; /* Thêm padding bên trái để icon không bám sát vào cạnh */
}

.loginform .right .user i,
.loginform .right .password i {
    color: blueviolet;
}

.loginform .right input[type="text"],
.loginform .right input[type="password"] {
    border: none; /* Loại bỏ border */
    outline: none; /* Loại bỏ outline khi focus */
    width: 100%; /* Sử dụng toàn bộ chiều rộng còn lại */
    margin-left: 10px; /* Thêm khoảng cách giữa icon và input */
    background: none;
    font-size: 16px; /* Điều chỉnh kích thước font cho dễ đọc */
}

/* Loại bỏ style mặc định của button và thêm kích thước, màu sắc */
.loginform .right button[type="submit"] {
    background-color: blueviolet; /* Thay đổi màu sắc tùy theo thiết kế của bạn */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px; /* Phông chữ to hơn */
    border-radius: 5px; /* Viền tròn */
    margin-top: 15px; /* Thêm khoảng trống ở phía trên */
}

/* Tăng kích thước và thêm padding cho icons login */
.loginform .right .Login_Icons a {
    margin-right: 10px; /* Thêm khoảng cách giữa các icon */
    display: inline-block;
    background-color: lightgray; /* Màu nền cho icon */
    padding: 5px; /* Khoảng cách giữa biên của icon và nội dung */
    border-radius: 50%; /* Làm tròn icon */
}

.loginform .right .Login_Icons i {
    color: blueviolet; /* Màu cho icons */
}
.back-home {
    display: inline-block; /* hoặc block tùy thuộc vào cách bạn muốn hiển thị */
    margin-top: 20px; /* Khoảng cách từ nút trên đến nội dung phía trên */
    padding: 10px 20px; /* Điều chỉnh kích thước nút */
    background-color: #4CAF50; /* Màu nền của nút */
    color: white; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    border-radius: 5px; /* Làm dịu các góc */
    text-align: center; /* Căn giữa chữ */
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng khi hover */
}

.back-home:hover {
    background-color: #45a049; /* Thay đổi màu khi hover */
    color: #fff; /* Thay đổi màu chữ khi hover */
}
